{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="/css/mypage.css" />
    <script type="text/javascript">
        $(function(){
            $("#c").click(function(){
                  $.get('/post/',{},function(data){
                  alert(data);
                   $("#posts").html(data);});
            });
        });
    </script>
{% endblock %}
{% block body%}
<div id="nav">

</div>
<div id="container">



<div id="header">
<h1 id="logo">
<a href="/"></a>
</h1>
<div id="home_tools">
<a class="button" style="background-image:url(/images/home_button.png);"
href="/" title="主页"></a>
<a class="button" style="background-image:url(/images/inbox_button.png);"
href="/" title="消息"></a>
<a class="button" style="background-image:url(/images/goods_button.png);"
href="/" title="物品"></a>
<a class="button" style="background-image:url(/images/settings_button.png);"
href="/" title="设置"></a>
<a class="button" style="background-image:url(/images/logout_button.png);
"href="/" title="注销"></a>
<a class="button" style="background-image:url(/images/search_button.png);"
href="/" title="搜索"></a>
</div>
</div>
<div id="content">
<div id="right_column">
<div id="relationship">
<div class="post_controls"><a href="/">关注者</a><span class="count">x</span></div>
<div class="followers_controls"><a href="/">跟随者</a><span class="count">yyyy</span></div>
</div>
</div>
<div id="left_column">
<div class="myself">

<a  class="label_button" style="background-image:url(/images/text_button48.png);
"href="/" title="文字"></a>
<a class="label_button" style="background-image:url(/images/music_button48.png);"
href="/" title="音乐"></a>
<a class="label_button" style="background-image:url(/images/video_button48.png);"
href="/" title="视频"></a>
<a class="label_button" style="background-image:url(/images/picture_button48.png);
"href="/" title="图片"></a>
<span class="arrow"></span>
<div class="avatar_x"> 
<a class="post_avatar"style="background-image:url(/images/hello.png)" title="hello" href="/"></a>
</div>
</div>

<ol id="posts">

<li class="post">
<div class="media">
<div class="post_info">
<a class="usr_info"href="/" title="hello" >尚文</a>

<div class="post_panel">
<a class="post_icon" style="background-image:url(/images/add.png)"
title="添加好友"></a>

<a class="post_icon" style="background-image:url(/images/link.png)"
title="关注"></a>
<a class="post_icon" style="background-image:url(/images/like.png)"
title="喜欢"href"/"></a>
<a class="post_icon"style="background-color: #b9b9b9;"
title="评论">332</a>
</div>

</div>
<div class="music photo text video"></div>
<div class="tags"></div>
嗨！你好！
</div>
<span class="arrow"></span>
<div class="avatar_x"><a class="post_avatar"
 title="hello" href="/">shangwen</a></div>
</li>
</ol>

</div>
</div>

</div>
{% endblock %}
