<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> Tuiker</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="shortcut icon" href="/images/favicon.ico?3" />
    <link rel="icon" href="/images/favicon.ico" />
    <script type="text/javascript" src="/js/jquery-1.7.min.js"></script>
    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
