{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="/css/login_or_signup.css" />
        <script type="text/javascript">
        $(function () {
            var state = false;
            $("#email").focus(function () {
                if (state == false) {
                    $(this).val('');
                }
            })
            $("#email").blur(function () {
                if ($(this).val() == '') {
                    $("#tips").text("邮箱不能为空");
                    $(this).focus();
                }
                else {
                    if (/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test($(this).val()) == false) {
                        $("#tips").text("邮箱格式不正确，请重新填写");
                        $(this).focus();
                    }
                    else {
                  $.ajax({type:"POST",
                  url:'/checkemail/',
                  dataType:"json",
                  data:{'email':$("#email").val()},
                  success:function(data)
                  {
                     if(data.email!='true')
                     {
                     
                      $("#tips").text( '此邮箱不存在');
                      $(".login_forms_submit").attr('disabled','true')
                     $(this).focus();
                     }
                      
                   },
                  contentType : 'application/json',
                    });
                        $("#tips").text('');
                        state=true;
                        $(".login_forms_submit").removeattr('disabled')
                    }
                }
            })
        });
        </script>
{% endblock %}
{% block body%}
<div  class="signup_forms" >

    <form action="/login/dopwd/" method="post">

  <span id="tips" style="color:#fff;">填写注册邮箱确认后查看邮箱</span>



    <input type="email" placeholder="邮箱" id="email"name="email" ></input>
    
<button class="login_forms_submit" type="submit"><span class="login_btn">确认</span></button>
 
    </form>
    


</div>
{% endblock %}
