{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="/css/mypage.css" />
    <link rel="stylesheet" type="text/css" href="/css/text.css" />
    <link rel="stylesheet" type="text/css" href="/css/uploadify.css"/>
        <script type="text/javascript" src="/js/jquery.uploadify.js"></script>
    <script type="text/javascript">
    $(function(){
    	id=$('#picturefile').data('id')
        $('#picturefile').uploadify({
        'swf':'/js/uploadify.swf',
        'buttonClass':'',
            'uploader':'/uppicture/',
            'fileSizeLimit' : 1024*5+'KB',
           'auto'    : true,
           'formData':{'id':id},
        'buttonText': '上传图片',
        'uploadLimit':999,
        'removeTimeout':3,
        'removeCompleted':true,
    'onSelect' : function(file) {
        $('.upload-panel').hide();
    },
        
 
              'onUploadSuccess' : function(file, data, response) {
               $('.upload-panel').hide();
                },
           

        });
    })
    </script>
    

    <script type="text/javascript">
        $(function(){
  
                  
                  $.ajax({type:"POST",
                  url:'/post/',
                  dataType:"json",
                  success:function(data)
                  {

                   $("#posts").append(data.html);

                  
                  },
                  contentType : 'application/json',
               });
 
          
        });
    </script>
           <script type="text/javascript">
    $(function(){
                     
        $("#text").click(function(){
        $("#musicform").slideUp(1);
        $("#videoform").slideUp(1);
        $("#pictureform").slideUp(1);

        $("#textform").slideToggle();
        });
        $("#music").click(function(){
        
        $("#pictureform").slideUp(1);
        $("#textform").slideUp(1);
        $("#videoform").slideUp(1);
        $("#musicform").slideToggle("slow");
        });
        $("#video").click(function(){
        $("#textform").slideUp(1);
        $("#musicform").slideUp(1);
        $("#pictureform").slideUp(1);
        $("#videoform").slideToggle("slow");
        });
         $("#picture").click(function(){
        
        $("#textform").slideUp(1);
        $("#musicform").slideUp(1);
        $("#videoform").slideUp(1);
        $("#pictureform").slideToggle("slow");
        });
        
    });
    </script>
    <script type="text/javascript">
    $(function(){
    
    $(".review_submit").live('click',function(){
        myid=$(this).data('myid');
     postid=$(this).data('reviewid');

     review_content=$('#review_box_'+postid).val();
                 $.ajax({type:"POST",
                  url:'/addreview/',
                  dataType:"json",
                  data:{'myid':myid,'postid':postid,'review_content':review_content},
                  success:function(data)
                  {

                       $('#notes_'+postid).prepend(data.html);
                       $('#showreview_'+postid).text(data.reviewcount)
                      
                   },
                  contentType : 'application/json',
               });

    
    });

    });
    </script>
       <script type="text/javascript">
        $(function(){
		$("a[title='喜欢']").live('click',function(){
			id=$(this).data("reviewid");
			
			 $.ajax({
             type:'POST',
             url:'/like/',
             dataType:"json",
             data:{'twitterid':id},
             success:function(data)
             {
				$('#like_id_'+id).attr("style","background-image:url(/images/redlike.png)");	
             },
             contentType : 'application/json',
         });
		});
        
         $("a[title='评论']").live('click',function(){
            
             reviewer_id=$(this).data("reviewid");
              $('#'+'note_container_'+reviewer_id).slideToggle();
             $.ajax({
             type:'POST',
             url:'/review/',
             dataType:"json",
             data:{'twitter_id':reviewer_id},
             success:function(data)
             {
            $('#'+'notes_'+ reviewer_id).empty();
             $('#'+'notes_'+ reviewer_id).append(data.html);
             },
             contentType : 'application/json',
         });
 
        });
        });
    </script>
<script type="text/javascript">
    $(function(){
        $('#btntext').live('click',function(){
            var texttitle=$('#texttitle').val();
            alert(texttitle)
            var textcontents=$('#textcontents').val();
            var texttags=$('#texttags').val();
            var texturl=$('#texturl').val();
            $.ajax({
                type:'POST',
                url:"/addtext/",
                dataType:"json",
                data:{'texttitle':texttitle,'textcontents':textcontents,'texttags':texttags,'texturl':texturl},
                success:function(data){                	
                	$('#posts').prepend(data.html)
                },
                contentType : 'application/json',
            });
        $("#textform").slideUp();
        })
       
    });


</script>
<script type="text/javascript">
    $(function(){
        $('.search_tags').live('click',function(){
            var tag=$(this).text()
           

            $.ajax({
                type:'POST',
                url:"/searchtwitter/",
                dataType:"json",
                data:{'searchtwitter':tag},
                success:function(data){ 
                	$('#posts').empty()               	
                	$('#posts').append(data.html)
                },
                contentType : 'application/json',
            });
        $("#textform").slideUp();
        })
       
    });


</script>
<script type="text/javascript">
    $(function(){
        $('#btnpicture').live('click',function(){
            
            var picturetitle=$('#picturetitle').val();
            var picturecontents=$('#picturecontents').val();
            var picturetags=$('#picturetags').val();
            var pictureurl=$('#pictureurl').val();
            var picturefile=$('#picturefile').val();

            $.ajax({
                type:'POST',
                url:"/addpicture/",
                dataType:"json",
                data:{'picturetitle':picturetitle,'picturecontents':picturecontents,
                'picturetags':picturetags,'pictureurl':pictureurl},
                success:function(data){              	
                	$('#posts').prepend(data.html)
                },
                contentType : 'application/json',
            });
        $("#pictureform").slideUp();
        });
       
    });


</script>
<script type="text/javascript">
    $(function(){
        $('#btnvideo').live('click',function(){

            var videotitle=$('#videotitle').val();
            
            var videocontents=$('#videocontents').val();
            
            var videotags=$('#videotags').val();
            var videourl=$('#videourl').val();
            var videofile=$('#videofile').val();


            $.ajax({
                type:'POST',
                url:"/addvideo/",
                dataType:"json",
                data:{'videotitle':videotitle,'videocontents':videocontents,
                'videotags':videotags,'videourl':videourl},
                success:function(data){              	
                	$('#posts').prepend(data.html)
                },
                contentType : 'application/json',
            });
        $("#videoform").slideUp();
        });
       
    });


</script>
<script type="text/javascript">
    $(function(){
        $('#btnmusic').live('click',function(){

            var musictitle=$('#musictitle').val();
            
            var musiccontents=$('#musiccontents').val();
            
            var musictags=$('#musictags').val();
            var musicurl=$('#musicurl').val();
            var musicfile=$('#musicfile').val();


            $.ajax({
                type:'POST',
                url:"/addmusic/",
                dataType:"json",
                data:{'musictitle':musictitle,'musiccontents':musiccontents,
                'musictags':musictags,'musicurl':musicurl},
                success:function(data){              	
                	$('#posts').prepend(data.html)
                },
                contentType : 'application/json',
            });
        $("#musicform").slideUp();
        });
       
    });


</script>
<script type="text/javascript">
    $(function(){
        $('#btnsearch').live('click',function(){
            var tag=$('#searchtwitter').val()

            $.ajax({
                type:'POST',
                url:"/searchtwitter/",
                dataType:"json",
                data:{'searchtwitter':tag},
                success:function(data){ 
                	$('#posts').empty()               	
                	$('#posts').append(data.html)
                },
                contentType : 'application/json',
            });
        $("#textform").slideUp();
        })
       
    });


</script>
          <script type="text/javascript">
         $(function(){

          $("a[title='添加关注']").live('click',function(){

             addfriendid=$(this).data("userid");
			
             $.ajax({
             type:'POST',
             url:'/addfriend/',
             dataType:"json",
             data:{'addfriendid':addfriendid},
             success:function(data)
             {
              alert(data.html)
             },
             contentType : 'application/json',
         });
         });
    });
    
     </script>
<script type="text/javascript">
function ResizeImage(image, maxwidth, maxheight)
{
    alert('s')
    if (image.className == "Thumbnail")
    {
        w = image.width;
        h = image.height;
 
        if( w == 0 || h == 0 )
        {
            image.width = maxwidth;
            image.height = maxheight;
        }
        else if (w > h)
        {
            if (w > maxwidth) image.width = maxwidth;
        }
        else
        {
            if (h > maxheight) image.height = maxheight;
        }
 
        image.className = "ScaledThumbnail";
    }
}

</script>

{% endblock %}
{% block body%}
<div id="nav">

</div>
<div id="container">



<div id="header">
<h1 id="logo">
<a href="/"></a>
</h1>
<div id="home_tools">
       <div class="search_form_row">
         <form id="search_form"  action="/searchtwitter/" method="get">

         <input  type="text" placeholder="搜索标签" id="searchtwitter"></input>
   		
         
         </form>
      <button id="btnsearch" class="search_icon" type="submit"></tutton>
        </div>
<a class="button" style="background-image:url(/images/home_button.png);"
href="/homepage/" title="主页"></a>
<a class="button" style="background-image:url(/images/inbox_button.png);"
href="/inbox/" title="消息"></a>
<a class="button" style="background-image:url(/images/goods_button.png);"
href="/goods/" title="物品"></a>
<a class="button" style="background-image:url(/images/settings_button.png);"
href="/settings/" title="设置"></a>
<a class="button" style="background-image:url(/images/logout_button.png);
"href="/cancel/" title="注销"></a>

</div>
</div>
<div id="content">
<div id="right_column">
<div id="relationship">
<div class="post_controls"><a href="/friends/{{user.id}}">关注者</a><span class="count">{{followers}}</span></div>
<div class="followers_controls"><a href="/friended/{{user.id}}">跟随者</a><span class="count">{{followered}}</span></div>
</div>
</div>
<div id="left_column">
<div class="myself">

<a id="text" class="label_button" style="background-image:url(/images/text_button48.png);"
href="javascript:void(0);" data-url="/addtext" title="文字"></a>
<a id="music" class="label_button" style="background-image:url(/images/music_button48.png);"
href="javascript:void(0);" data-url="/addmusic" title="音乐"></a>
<a id="video" class="label_button" style="background-image:url(/images/video_button48.png);"
href="javascript:void(0);" data-url="/addvedio" title="视频"></a>
<a id="picture" class="label_button" style="background-image:url(/images/picture_button48.png);"
href="javascript:void(0);" data-url="/addpicture" title="图片"></a>
<span class="arrow"></span>
<div class="avatar_x"> 
<a   href="/profile/{{user.id}}" class="post_avatar" title={{user.username}}
 style="background-image:url({{user.smallface.url}});"></a>
</div>
</div>
<div id="textform" style="display:none;" class="texts">

  <form enctpye="multipart/form-data">

  <input id="texttitle" type="text" placeholder="标题" ></input>
  <textarea id="textcontents"wrap="physical" placeholder="正文"></textarea>
  <input id="texttags"type="text" placeholder="标签#分隔开" ></input>
  <input id="texturl"type="text"style="background-color:#FFFFFF" placeholder="URL:www." ></input>

  <button id="btntext"class="send_submit" type="button">发送</button>
 
  </form>

<span class="arrow_top" style="top:-11px;left:50px;"></span>
</div>
<div id="musicform" class="texts" style="display:none;">
  <form enctpye="multipart/form-data" >
  <input id="musictitle" type="text" placeholder="标题" ></input>
  <textarea id ="musiccontents"wrap="physical" placeholder="描述"></textarea>
  <input id="musictags"type="text" placeholder="标签#分隔开" ></input>
  <input id="musicurl"type="text"style="background-color:#FFFFFF" placeholder="URL:www." ></input>
  <span class="input-file ">上传音乐<input id="musicfile"type="file"></span>
  
  
  </form>
  <button id="btnmusic"class="send_submit" type="submit">发送</button>
<span class="arrow_top" style="top:-11px;left:130px;"></span>
</div>
<div id="videoform" class="texts" style="display:none;">
  <form enctpye="multipart/form-data">
  <input id="videotitle"type="text" placeholder="标题" ></input>
  <textarea id="videocontents"wrap="physical" placeholder="描述"></textarea>
  <input id="videotags"type="text" placeholder="标签#分隔开" ></input>
  <input id="videourl"type="text"style="background-color:#FFFFFF" placeholder="URL:www." ></input>
  <span class="input-file ">上传视频<input type="file"></span>
  
  
  </form>
  <button id="btnvideo" class="send_submit" >发送</button>
<span class="arrow_top" style="top:-11px;left:210px;"></span>
</div>
<div id="pictureform" class="texts" style="display:none;">
  <form enctpye="multipart/form-data">
  <input id="picturetitle"type="text" placeholder="标题" ></input>
  <textarea id="picturecontents"wrap="physical" placeholder="描述"></textarea>
  <input id="picturetags"type="text" placeholder="标签#分隔开" ></input>
  <input id="pictureurl"type="text"style="background-color:#FFFFFF" placeholder="URL:www." ></input> 
   
  <input id="picturefile"type="file" name="picturefile" data-id={{user.id}}>
  
  
  </form>
  <button id="btnpicture"class="send_submit">发送</button>
<span class="arrow_top" style="top:-11px;left:290px;"></span>
</div>
<ol id="posts">



</ol>

</div>
</div>

</div>
{% endblock %}
