{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="/css/login_or_signup.css" />
    <script type="text/javascript">
        $(function () {
            var state = false;
            $("#email").focus(function () {
                if (state == false) {
                    $(this).val('');
                }
            })
            $("#email").blur(function () {
                if ($(this).val() == '') {
                    $("#tips").text("邮箱不能为空");
                    $(this).focus();
                }
                else {
                    if (/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test($(this).val()) == false) {
                        $("#tips").text("邮箱格式不正确，请重新填写");
                        $(this).focus();
                    }
                    else {
                  $.ajax({type:"POST",
                  url:'/checkemail/',
                  dataType:"json",
                  data:{'email':$("#email").val()},
                  success:function(data)
                  {
                     if(data.email=='true')
                     {
                     
                      $("#tips").text( '此邮箱以存在');
                      $(".login_forms_submit").attr('disabled','true')
                     $(this).focus();
                     }
                      
                   },
                  contentType : 'application/json',
                    });
                        $("#tips").text('');
                        state=true;
                        $(".login_forms_submit").removeattr('disabled')
                    }
                }
            })
        });
        $(function(){
              var state = false;
            $("#username").focus(function () {
                if (state == false)
                 {
                    $(this).val('');
                }
                });
              $("#username").blur(function () {
                if ($(this).val() == '') 
                {
                    $("#tips").text("用户名不能为空");
                    $(this).focus();
                }
                else
                {
                	    $("#tips").text('');
                        state=true;
                }
            });
            
        });
           $(function(){
            var state = false;
            $("#password").focus(function () {
                if (state == false)
                 {
                    $(this).val('');
                }
                });
              $("#password").blur(function () {
                if ($(this).val() == '') 
                {
                    $("#tips").text("密码不能为空");
                    $(this).focus();
                
                }
                else
                {
                	    $("#tips").text('');
                        state=true;
                }
           
           });
           
        });
         $(function(){
                         var state = false;
            $("#confirmpwd").focus(function () {
                if (state == false)
                 {
                    $(this).val('');
                }
                });
              $("#confirmpwd").blur(function () {
                if ($(this).val()!=$('#password').val()) 
                {
                    $("#tips").text("密码不一致");
                    $(this).focus();
                }
                else
                {
                	    $("#tips").text('');
                        state=true;
                }
           
           });
           
        });

    </script>
{% endblock %}
{% block body%}
<div id="nav">

</div>
<div  class="signup_forms" >

    <form action="/signup/" method="post">

  <span id="tips" style="color:#fff;"></span>
    <input type="text" placeholder="用户名"id="username" name="username" >
    </input>
    
   

    <input type="password" placeholder="密码" id="password"name="password"></input>
    


    <input type="password" placeholder="密码确认" id="confirmpwd"mame="confirmpwd"></input>


    <input type="email" placeholder="邮箱" id="email"name="email" ></input>
    
<button class="login_forms_submit" type="submit"><span class="login_btn">注册</span></button>
 
    </form>
    


</div>
{% endblock %}
